.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 100px;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

figure.snip1159 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1159 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1159 img {
  max-width: 100%;
}

figure.snip1159 div {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  opacity: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

figure.snip1159 div:before,
figure.snip1159 div:after {
  content: '';
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1159 i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 34px;
  color: #000000;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

figure.snip1159 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1159.blue {
  background-color: #2472a4;
}

figure.snip1159.blue i {
  color: #20638f;
}

figure.snip1159.red {
  background-color: #ab3326;
}

figure.snip1159.red i {
  color: #962d22;
}

figure.snip1159.yellow {
  background-color: #e08e0b;
}

figure.snip1159.yellow i {
  color: #c87f0a;
}

figure.snip1159.green {
  background-color: #229955;
}

figure.snip1159.green i {
  color: #1e8449;
}

figure.snip1159.orange {
  background-color: #d67118;
}

figure.snip1159.orange i {
  color: #bf6516;
}

figure.snip1159.navy {
  background-color: #2b3c4e;
}

figure.snip1159.navy i {
  color: #222f3d;
}

figure.snip1159:hover img,
figure.snip1159.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figure.snip1159:hover div,
figure.snip1159.hover div {
  opacity: 1;
}

figure.snip1159:hover div:after,
figure.snip1159.hover div:after,
figure.snip1159:hover div:before,
figure.snip1159.hover div:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.snip1159:hover div:before,
figure.snip1159.hover div:before {
  -webkit-transform: scale(1.45);
  transform: scale(1.45);
}

figure.snip1159:hover div:after,
figure.snip1159.hover div:after {
  -webkit-transform: scale(1.88);
  transform: scale(1.88);
}


